
body
{
    font-family: 'Sarpanch';
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAChJREFUeNpiPHPmDAMMGBsbw9lMDDgA6RKM%2F%2F%2F%2Fh3POnj1LCzsAAgwAQtYIcFfEyzkAAAAASUVORK5CYII%3D") repeat scroll 0 0 rgba(0, 0, 0, 0);    
}

.screen
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#idle
{
    font-size: 3vh;
    text-shadow: 0.1vw 0.1vw 0.1vw Black;
}

#screensaver
{
    background-color: Black;
}

.scoreTableSize, .scoreTable
{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    font-weight: 700;
    padding: 3vh;
}

.scoreTable
{
    color: White;
}

.nowrap
{
    white-space: nowrap;
}

.scoreTitle
{
    vertical-align: middle;
    text-align: center;
    padding: 0.5vh;
    font-size: 4vh;
    font-weight: 700;
}

.scoreTable .scoreColumn
{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.scoreTable table
{
    background-color: transparent;
    width: auto;
    height: auto;
}

.scoreTable table td
{
    padding: 5px 15px 5px 15px;
    text-align: center;
}

.scoreTable table td.Win
{
    padding-left: 0px;
    padding-right: 0px;
    color: Yellow;
}

.scoreTable table td.Name
{
    padding-left: 0px;
    text-align: left;
}

.scoreTable table td.Spacer
{
    height: 20px;
}

.GameSettings 
{
    height: 15.5vh;
    bottom: 4.5vh;
    font-weight: 700;
    position: fixed;
    left: 0px;
    right: 0px;
}

.GameSettings table
{
    border-collapse: collapse;
    color: White;
}

.GameSettings table tr
{
    border-top: 1px solid white;
}

.GameSettings table tr:first-child
{
    border-top: none;
}

.GameSettings table tr td
{
    width: 33.3%;
    padding: 2px 10px 2px 10px;
    text-align: center;
    white-space: nowrap;
}

.GradientBlueToWhite
{
    background: -moz-linear-gradient(top,  rgba(20,76,127,0.7) 0%, rgba(255,255,255,0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,76,127,0.7)), color-stop(100%,rgba(255,255,255,0.7)));
    background: -webkit-linear-gradient(top,  rgba(20,76,127,0.7) 0%,rgba(255,255,255,0.7) 100%);
    background: -o-linear-gradient(top,  rgba(20,76,127,0.7) 0%,rgba(255,255,255,0.7) 100%);
    background: -ms-linear-gradient(top,  rgba(20,76,127,0.7) 0%,rgba(255,255,255,0.7) 100%);
    background: linear-gradient(to bottom,  rgba(20,76,127,0.7) 0%,rgba(255,255,255,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2144c7f', endColorstr='#f2ffffff',GradientType=0 );
}

.GradientBlue
{
    background: -moz-linear-gradient(top,  rgba(20,76,127,0.7) 0%, rgba(47,108,161,0.7) 50%, rgba(27,56,86,0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(20,76,127,0.7)), color-stop(50%,rgba(47,108,161,0.7)), color-stop(100%,rgba(27,56,86,0.7)));
    background: -webkit-linear-gradient(top,  rgba(20,76,127,0.7) 0%,rgba(47,108,161,0.7) 50%,rgba(27,56,86,0.7) 100%);
    background: -o-linear-gradient(top,  rgba(20,76,127,0.7) 0%,rgba(47,108,161,0.7) 50%,rgba(27,56,86,0.7) 100%);
    background: -ms-linear-gradient(top,  rgba(20,76,127,0.7) 0%,rgba(47,108,161,0.7) 50%,rgba(27,56,86,0.7) 100%);
    background: linear-gradient(to bottom,  rgba(20,76,127,0.7) 0%,rgba(47,108,161,0.7) 50%,rgba(27,56,86,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2144c7f', endColorstr='#f21b3856',GradientType=0 );
}

.GradientRed,
#configuration > table tr.selected
{
    background: -moz-linear-gradient(top,  rgba(165,18,24,0.7) 0%, rgba(188,71,71,0.7) 50%, rgba(104,32,39,0.85) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,18,24,0.7)), color-stop(50%,rgba(188,71,71,0.7)), color-stop(100%,rgba(104,32,39,0.85)));
    background: -webkit-linear-gradient(top,  rgba(165,18,24,0.7) 0%,rgba(188,71,71,0.7) 50%,rgba(104,32,39,0.85) 100%);
    background: -o-linear-gradient(top,  rgba(165,18,24,0.7) 0%,rgba(188,71,71,0.7) 50%,rgba(104,32,39,0.85) 100%);
    background: -ms-linear-gradient(top,  rgba(165,18,24,0.7) 0%,rgba(188,71,71,0.7) 50%,rgba(104,32,39,0.85) 100%);
    background: linear-gradient(to bottom,  rgba(165,18,24,0.7) 0%,rgba(188,71,71,0.7) 50%,rgba(104,32,39,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a51218', endColorstr='#d9682027',GradientType=0 );
}

/* GAME */
.Scoreboard
{
    width: 100%;
    height: 100%;
    text-shadow: 0.2vw 0.2vw 0.2vw black;
}

.ScoreboardLargeColumn
{
    height: 100%;
    width: 40%;
    text-align: center;
    color: White;
    position: relative;
    border-top: 0;
    border-bottom: 0;
}

.ScoreboardLargeColumn .player0name,
.ScoreboardLargeColumn .player1name
{
    position: absolute;
    font-size: 3vw;
    top: 0;
    width: 50vw;
    overflow: hidden;
}

.ScoreboardLargeColumn .player0name
{
    left: 0;
}

.ScoreboardLargeColumn .player1name
{
    right: 0;
}

.ScoreboardLargeColumn .player0score,
.ScoreboardLargeColumn .player1score
{
    font-size: 20vw;
    font-weight: 900;
}

.ScoreboardSmallColumn
{
    width: 10%;
    font-size: 10vw;
    text-align: center;
    color: White;
    border-top: 0;
    border-bottom: 0;
}

.ScoreboardSmallColumn > div
{
    height: 50%;
    line-height: 49vh;  /* kinda misuse as we're expecting we'll take 50% height, 49% only otherwise there is slight glitch... */
}

/* CONFIGURATION */

#configuration > table
{
    height: auto;
    margin: 1vw;
    padding: 0.5vh;
    font-size: 3vh;
    font-weight: 700;
    border: 0;
    margin: 3vh;
    color: White;
    text-shadow: 0.1vw 0.1vw 0.1vw Black;
}

#configuration > table tr td
{
    padding: 0.5vh;
    vertical-align: middle;
}

#configuration > table tr.selected
{
    font-size: 4vh;
}

#configuration > table tr td:first-child
{
    width: 30%;
}

/* STATUS BAR */

#Information
{
    padding: 0.5vh 10px 0px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4vh;
    background-color: White;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    color: Black;
    font-size: 3vh;
    line-height: 1;
    overflow: hidden;
}

#InformationText
{
    text-align: left;
    overflow: hidden;
}

#Timeout
{
    text-align: right;
}

/* GENERAL */
table
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.center256x256
{
  width: 256px;
  height: 256px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -128px;      
}

